adf-src/pipeline/tableau_refresh.json
{
	"name": "tableau_refresh",
	"properties": {
		"activities": [
			{
				"name": "Tableau Sign In",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Password in Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().parameters.BASE_URL}/auth/signin",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Accept": "application/json"
					},
					"body": {
						"credentials": {
							"name": "Jcathy",
							"password": "@{activity('Get Password in Key Vault').output.value}",
							"site": {
								"contentUrl": ""
							}
						}
					},
					"disableCertValidation": true
				}
			},
			{
				"name": "Set site id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Tableau Sign In",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "site_id",
					"value": {
						"value": "@activity('Tableau Sign In').output.credentials.site.id\r\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Tableau Sign In",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@activity('Tableau Sign In').output.credentials.token\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Tableau Get workbook id",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set site id",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().parameters.BASE_URL}/sites/@{variables('site_id')}/workbooks?filter=name:eq:@{pipeline().parameters.WORKBOOK_NAME}",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json",
						"Accept": "application/json",
						"X-Tableau-Auth": {
							"value": "@variables('token')",
							"type": "Expression"
						}
					},
					"body": "",
					"disableCertValidation": true
				}
			},
			{
				"name": "Tableau Refresh data source",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Identify task",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().parameters.BASE_URL}/sites/@{variables('site_id')}/tasks/extractRefreshes/@{activity('Identify task').output.Value[0].extractRefresh.id}/runNow",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"X-Tableau-Auth": {
							"value": "@variables('token')",
							"type": "Expression"
						},
						"Accept": "application/xml",
						"Content-Type": "application/xml"
					},
					"body": "<tsRequest></tsRequest>",
					"disableCertValidation": false
				}
			},
			{
				"name": "Identify task",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Tableau Get workbook id",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Tableau Get extract refreshes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Tableau Get extract refreshes').output.tasks.task",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(\nequals(item().extractRefresh.schedule.name,  pipeline().parameters.SCHEDULE_NAME),\nequals(item().extractRefresh.workbook.id, activity('Tableau Get workbook id').output.workbooks.workbook[0].id )\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Tableau Get extract refreshes",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set site id",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().parameters.BASE_URL}/sites/@{variables('site_id')}/tasks/extractRefreshes",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Content-Type": "application/json",
						"Accept": "application/json",
						"X-Tableau-Auth": {
							"value": "@variables('token')",
							"type": "Expression"
						}
					},
					"body": "",
					"disableCertValidation": true
				}
			},
			{
				"name": "Get Password in Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://aaslab.vault.azure.cn/secrets/tableau-password/0c79507fb3644c2f8a30b37d55abf8a6?api-version=7.0",
					"method": "GET",
					"body": {
						"credentials": {
							"name": "klong4",
							"password": "Gile@d2020",
							"site": {
								"contentUrl": "sprint"
							}
						}
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.cn"
					}
				}
			}
		],
		"parameters": {
			"BASE_URL": {
				"type": "string",
				"defaultValue": "http://10.184.16.220/api/3.7"
			},
			"WORKBOOK_NAME": {
				"type": "string"
			},
			"SCHEDULE_NAME": {
				"type": "string"
			}
		},
		"variables": {
			"site_id": {
				"type": "String"
			},
			"token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "test"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-27T07:27:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}