adf-src/pipeline/tableau_rest_demo.json
{
	"name": "tableau_rest_demo",
	"properties": {
		"activities": [
			{
				"name": "Sign In",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Password in Key Vault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://tableau-test.gileadchina.cn/api/3.4/auth/signin",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Accept": "application/json"
					},
					"body": {
						"value": "{\"credentials\":{\"name\":\"klong4\",\"password\":\"@{activity('Get Password in Key Vault').output.value}\",\"site\":{\"contentUrl\":\"sprint\"}}}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Sign In",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "token",
					"value": {
						"value": "@activity('Sign In').output.credentials.token",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set site id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Sign In",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "site_id",
					"value": {
						"value": "@activity('Sign In').output.credentials.site.id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Tableau site user list",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set token",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set site id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://tableau-test.gileadchina.cn/api/3.4/sites/', variables('site_id') ,'/users')",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"X-Tableau-Auth": {
							"value": "@variables('token')",
							"type": "Expression"
						},
						"Accept": "application/json"
					},
					"body": ""
				}
			},
			{
				"name": "Get Password in Key Vault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://aaslab.vault.azure.cn/secrets/tableau-password/0c79507fb3644c2f8a30b37d55abf8a6?api-version=7.0",
					"method": "GET",
					"body": {
						"credentials": {
							"name": "klong4",
							"password": "Gile@d2020",
							"site": {
								"contentUrl": "sprint"
							}
						}
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.cn"
					}
				}
			}
		],
		"parameters": {
			"BASE_URL": {
				"type": "string"
			}
		},
		"variables": {
			"site_id": {
				"type": "String"
			},
			"token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "copy_activity"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-27T07:21:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}